<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" as="image" href="/img/header.gif" />
  <link rel="preconnect" href="https://fonts.gstatic.com/">
  <link href="//fonts.googleapis.com/css?family=Lekton:400,700|Oswald:300&display=swap" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  {% seo %}
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
