<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include nav.html %}
  <main>
    <div class="container">
      <div class="description">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.description }}</h3>
        <p class="tags"><em>{{ page.tags | join: ", "}}</em></p>
      </div>
      {{ content }}
      <nav class="pagination">
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
        {% endif %}
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
        {% endif %}
      </div>
    </div>
  </main>
{% include footer.html %}
</body>
</html>
